<%= render "shared/header" %>
  <div class="diary-contents">
    <div class="diary-main">

      <div class="diary-main-top">
        <h2 class="diary-title">★成長日記★</h2>
        <%= form_with(model: @diary, id: 'new_diary', local: true) do |form| %>
        <%= render 'layouts/error-messages', model: form.object %>

  <%# 日付 %>
        <div class="weight-bold-text">
          <%= image_tag "calendar.png", class:"calendar-icon" %> 
          日にち
        </div>
        <%= form.date_field :start_time, class: "posted_date" %>

  <%# 嬉しかったこと %>
        
          <div class="weight-bold-text">
            <%= image_tag "music.png", class:"music-icon"%>
            嬉しかったこと
          </div>
          <%= form.text_field :happy , class: "text", placeholder: "今日あったhappyなこと"%>
  
  <%# 日記 %>
        
          <div class="weight-bold-text">
            <%= image_tag "diary.png", class:"music-icon"%>
            日記
          </div>
          <%= form.text_area :diary , class: "text", placeholder: "今日の出来事"%>

    <%# 写真 %>
          <div class="weight-bold-text">
            <%= image_tag "camera.png", class:"music-icon"%>
            写真
          </div>
          <div id="previews"></div>
          <div class="click-upload" >
            <%= form.file_field :image, class: "picture" %>
          </div>

        <div class="sell-btn-contents">
            <%= form.submit "保存する" ,class:"sell-btn" %>
        </div>
        <% end %>
      </div><%# diary-main-top%>
    </div><%# diary-main%>

  <%# カレンダー部分 %>
    <div class ="diary-calendar">
      <%= month_calendar events: @diaries do |date, diaries| %>
        <%= date.day %>
          <% diaries.each do |diary| %>
            <% if diary.user_id == current_user.id %> 
              <div>
                <%= link_to image_tag("diary.png", class:"diary-mark-icon"), diary_path(diary.id), method: :get %>
              </div>
            <% else date.day%>
          <% end %>
        <% end %>
      <% end %>
    </div><%# diary-calendar%>
  </div> <%# diary-contents%>

<%= render "shared/fotter" %>