<%= render "shared/header" %>
  <div class="diary-contents">
    <div class="diary-main">

      <div class="diary-main-top">
        <h2 class="diary-title">★成長日記★</h2>

  <%# 日付 %>
        <div class="weight-bold-text">
          <%= image_tag "calendar.png", class:"calendar-icon" %> 
          日にち
        </div>
        <%= @diary.start_time.strftime("%Y年%m月%d日") %>

  <%# 嬉しかったこと %>
        
          <div class="weight-bold-text">
            <%= image_tag "music.png", class:"music-icon"%>
            嬉しかったこと
          </div>
          <%= @diary.happy %>
  
  <%# 日記 %>
        
          <div class="weight-bold-text">
            <%= image_tag "diary.png", class:"music-icon"%>
            日記
          </div>
          <%= @diary.diary %>

    <%# 写真 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          <%= image_tag "camera.png", class:"music-icon"%>
          写真
        </div>
        <div id="previews"></div>
        <div class="click-upload" >
          <%if @diary.images.attached? %>
            <%= image_tag @diary.images[0], class: "diary-image" %>
              <div class="other-images">
                <%= @diary.images[1..-1].each do |image| %>
                  <div class="other-image">
                    <%= image_tag image %>
                  </div>
                <%end%>
              </div>
          </div>
        <%end%>
      </div><%# img-upload%>

      <div class ="btn-list">
          <%= link_to "編集", edit_diary_path, method: :get, class: "diary-edit-destroy" %>
          <p class="or-text">or</p>
          <%= link_to "削除", diary_path(@diary.id), method: :delete, class: "diary-edit-destroy" %>
      </div>
      <div class="return-frame">
        <%= link_to "戻る", new_diary_path, class: "return-btn"%>
      </div>
    </div>
  </div>
<%= render "shared/fotter" %>