<header class='top-page-header'>
  <div class='icon-bar-contents'>
    <%= link_to image_tag("babymana_icon.png", class:"header-baby-icon"), "/" %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <%= image_tag "calendar.png", class:"list-left-icon" %>
      <li><%= link_to 'カレンダー', "/", class: "calendars-list" %></li>
      <%= image_tag "diary.png", class:"list-left-icon" %>
      <li><%= link_to '日記', new_diary_path, class: "diaries-list" %></li>
      <%= image_tag "management.png", class:"list-left-icon" %>
      <li><%= link_to '記録', new_management_path, class: "managements-list" %></li>
    </ul>
    <ul class='lists-right'>
      
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, root_path, class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <%  else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      
    </ul>
  </div>
</header>