<%= render "shared/header" %>
  <div class = "calendar-new-contents">
    <div class="calendar-new-main">

      <div class = "calendar-new-main-top">
        <h2 class="calendar-new-title">★予定を入れよう★</h2>
        <%= form_with(model: @calendar, local: true) do |form| %>

        <%= render 'layouts/error-messages', model: form.object %> 

        <%# 予定 %>
        <div class="weight-bold-text" >
          <%= image_tag "calendar.png", class:"calendar-icon"  %>
          予定
        </div>
        <%= form.text_field :schedule, placeholder: 'タイトルを追加'%>

        <%# 日時(開始) %>
        <div class="weight-bold-text">
          <%= image_tag "clock.png", class:"clock-icon" %>
          日時(開始)
        </div>
        <%= form.datetime_select :start_time,{ :minute_step => 30} %>

        <%# 日時(終了) %>
        <div class="weight-bold-text">
          <%= image_tag "clock.png", class:"clock-icon" %>
          日時(終了)
        </div>
        <%= form.datetime_select :end_time,{ :minute_step => 30} %>

        <%# 予定内容 %>
        <div class="weight-bold-text">
          <%= image_tag "content.png", class:"content-icon" %>
          内容
        </div>
        <%= form.text_area :content, placeholder: '予定内容' %>

        <div class="return-frame">
          <%= link_to "戻る", calendar_path(@calendar.id), method: :get, class: "return-btn"%>
        </div>
        <div class="sell-btn-contents">
          <%= form.submit "保存する", class:"sell-btn" %>
        </div>
        <% end %>
    </div>
  </div>
<%= render "shared/fotter" %>