<div class="daiary-contents">
  <%= render "shared/header" %>

  <div class="daiary-main">
   <div class="daiary-main-top">
    <h2 class="daiary-title">★成長日記★</h2>
    <%= form_with(model: @diaries, local: true) do |form| %>

  <%# 嬉しかったこと %>
    <div class="happy-content">
      <div class="weight-bold-text">
        嬉しかったこと、良かったこと, 自分を褒めてあげたいこと
      </div>
      <%= form.text_field :happy , class: "text", placeholder: "今日あった出来事で最低１つ、ポジティブな事を記入してね"%>
    </div>
  <%#/ 嬉しかったこと %>

  <%# 日記 %>
    <div class="daiary-content">
      <div class="weight-bold-text">
        日記
      </div>
      <%= form.text_area :daiary , class: "text", placeholder: "今日の出来事"%>
    </div>
  <%#/ 日記 %>
    <%# 写真 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          写真
        </div>
        <div class="click-upload" >
          <%= form.file_field :image, class: "picture" %>
        </div>
      </div>
    <%# /写真 %>

      <div class="sell-btn-contents">
        <%= form.submit "保存する" ,class:"sell-btn" %>
      </div>
    </div>
  </div>
  <% end %>

  <%= month_calendar do |date| %>
  <%= date.day %>
<% end %>
</div>
