<%= render "shared/header" %>
  <div class="management-contents">
    <div class = "management-main">

      <div class="management-main-top">
        <h2 class="management-title">★記録簿★</h2>
        <%= form_with(model: @management, local: true) do |form| %>
        
        <%= render 'layouts/error-messages', model: form.object %>
    
      <%#  記録 %>
      <div class="weight-bold-text">
        <%= image_tag "diary_mark.png", class:"calendar-icon"  %>
        記録
      </div>
      <%= form.collection_select(:record_id, Record.all, :id, :name, {}, class: "record-icon") do |record| %>
        <%= form.options_for_select([[record.name, record.id]], @management.record_id) %>
        <%= form.image_tag("#{record.image_path}.png", class: "record-icon-lists") %>
      <% end %>

      <%# 日時 %>
        <div class="weight-bold-text">
          <%= image_tag "clock.png", class:"clock-icon" %>
          日時
        </div>
          <%= form.datetime_select :start_time,{ :minute_step => 30}, class: "posted_date" %>

      <%# 備考 %>
        <div class="weight-bold-text">
          <%= image_tag "content.png", class:"note-icon" %>
          備考
        </div>
          <%= form.text_area :note, class:"text", placeholder: '備考欄' %>
        


        <div class="sell-btn-contents">
          <%= form.submit "保存する", class:"sell-btn" %>
        </div>
        <% end %>
      </div>
    </div>

  <%#  カレンダー部分%>
    <div class="management-calendar">
      <%= month_calendar events: @managements do |date, managements| %>
        <%= date.day %>
          <% if managements.any? {|management| management.user_id == current_user.id} %>
            <div>
              <%= link_to image_tag("diary_mark.png", class:"diary-mark-icon"), management_path(id: managements.first.id), method: :get %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

<%= render "shared/fotter" %>