

<%= render "shared/header" %>
<div class="management">
<div class = "management-main">
  <div class ="management-date">
  <%= Date.today %>
  </div>
  <table class= "table">
  <%= form_with(model: @managements, local: true) do |form| %>
    <tr>
      <th class="management-title">時間</th>
      <th class="management-title">管理</th>
      <th class="management-title">時間</th>
      <th class="management-title">管理</th>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">00:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">12:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr>
      <td class="management-time">00:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">12:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">01:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">13:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">01:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">13:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">02:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">14:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">02:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">14:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">03:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">15:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">03:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">15:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">04:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">16:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">04:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">16:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">05:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">17:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">05:30</td> 
     <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">17:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">06:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">18:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">06:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">18:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">07:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">19:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">07:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">19:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">08:00</td> 
     <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">20:00</td> 
        <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">08:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">20:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">09:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">21:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">09:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">21:30</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    <tr class = "management-top-content">
      <td class="management-time">10:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">22:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">10:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">22:30</td> 
        <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">11:00</td> 
       <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">23:00</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>

    <tr class = "management-top-content">
      <td class="management-time">11:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
      <td class="management-time">23:30</td> 
      <td class ="management-content-lists">
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
        <%= form.collection_select(:hoge, [], :hoge, :hoge, {}, {class:"management-content"}) %>
      </td>
    </tr>
    </table>
  
    </div>
    <div class="management-btn-contents">
      <%= form.submit "保存する" ,class:"management-sell-btn" %>
    </div>
    <% end %>
  </div>
<%= render "shared/fotter" %>