<div class="management-contents">
  <%= render "shared/header" %>

  <%= form_with(model: @management, local: true) do |form| %>
    <div class = "schedule">
      <div class = "schedule-list">
        <div class="title" >
          <%= image_tag "calendar.png", class:"calendar-icon"  %>
          <%= form.label "記録" %>
          <%= form.collection_select(:record_id, Record.all, :id, :name, {}, class: "record-icon") do |record| %>
            <%= form.options_for_select([[record.name, record.id]], @management.record_id) %>
            <%= form.image_tag("#{record.image_path}.png", class: "record-icon-lists") %>
  <% end %>
        </div>

        <div class="time">
          <%= image_tag "clock.png", class:"clock-icon" %>
          <%= form.label "日時(開始)" %>
          <%= form.datetime_select :start_time,{ :minute_step => 30} %>
        </div>

        <div class="content">
          <%= image_tag "content.png", class:"content-icon" %>
          <%= form.label "備考", class:"content-label" %>
          <%= form.text_area :note, placeholder: '備考欄' %>
        </div>


        <div class="submit">
          <%= form.submit "保存する" %>
        </div>
      </div>
    </div>
  <% end %>

  <%= month_calendar events: @managements do |date, managements| %>
  <%= date.day %>
  <% if managements.any? {|management| management.user_id == current_user.id} %>
      <div>
          <%= link_to image_tag("diary_mark.png", class:"diary-mark-icon"), management_path(id: managements.first.id), method: :get %>
      </div>
    <% end %>
  <% end %>
      <%= render "shared/fotter" %>