<%= render "shared/header" %>
<div class="calendar-show">
  <h1 class="calendar-show-top">管理表</h1>
  <div class="calendar-show-date"><%= @management.start_time.strftime("%Y-%m-%d") %></div>
    <div class = "calendar-show-main">
      <table class= "table">
        <thead>
          <tr class = "show-titles" >
            <th class="calendar-show-title">時間</th>
            <th class="calendar-show-title">記録</th>
            <th class="calendar-show-title">備考欄</th>
          </tr>
        </thead>

        <tbody>
          <% @managements.each do |management| %>
            <tr>
              <td class="calendar-show-content">
                <%= management.start_time.strftime("%H:%M") %>
                <%= link_to "（変更する）", edit_management_path(management), method: :get, class: "calendar-show-btn" %>
                <%= link_to "(削除)", management_path(management), method: :delete, class: "calendar-show-btn" %>
              </td>
              <td class="calendar-show-content"><%= management.record.name %></td>
              <td class="calendar-show-content"><%= management.note %></td>
            </tr>
          <% end %>  
        </tbody>
      </table>
    </div>
    <div class="return-frame">
      <%= link_to "戻る", new_management_path, class: "return-btn"%>
    </div>
</div>

<%= render "shared/fotter" %>